@* <div class=" position-relative  ">
    <img src="css/Visual-Studio-for-Mac-Shape-1.svg" class="position-absolute" style="width:100%" />
    <div class=" row" style="padding:7%;color:#fff">
        <!-- Skill sets item -->
        <div class="col-md-4">
            <div class="d-flex justify-content-between">
                <div class="text-center">
                    <!-- Number -->
                    <div class="d-flex">
                        <h4 class="purecounter display-2 mb-0">105</h4>
                        <span class="display-2 text-primary mb-0">+</span>
                    </div>
                    <!-- Content -->
                    <p class="px-3 py-2 bg-body mt-n3 mt-md-n4 position-relative">Total projects completed</p>
                </div>

                <div class="vr bg-primary-grad opacity-1 my-3"></div> <!-- Divider -->
            </div>
        </div>

        <!-- Skill sets item -->
        <div class="col-md-4 text-center">
            <!-- Number -->
            <div class="d-flex justify-content-center">
                <h4 style="color:#fff" class="purecounter display-2 mb-0">35</h4>
                <span class="display-2 text-purple mb-0">+</span>
            </div>
            <!-- Content -->
            <p class="px-3 py-2 bg-body mt-n3 mt-md-n4 position-relative">Awards and accolades</p>
        </div>

        <!-- Skill sets item -->
        <div class="col-md-4">
            <div class="d-flex justify-content-between">
                <div class="vr bg-primary-grad opacity-1 my-3"></div> <!-- Divider -->

                <div class="text-center">
                    <!-- Number -->
                    <div class="d-flex">
                        <span class="display-2 heading-color mb-0">&gt;</span>
                        <h4 class="purecounter display-2 mb-0">10</h4>
                        <span class="display-2 text-pink mb-0">K</span>
                    </div>
                    <!-- Content -->
                    <p class="px-3 py-2 bg-body mt-n3 mt-md-n4 position-relative">Satisfied users</p>
                </div>
            </div>
        </div>
    </div>
</div>
 *@
 