@using LAHJA.UI.Components.Auth

@using LAHJA.Data.UI.Templates.Auth

@inject LAHJA.Data.UI.Templates.Auth.TemplateAuth Template


@if(Template!=null){

<h3> Forget Password</h3>

   <ForgetPasswordForm  Message="@Message"  OnSubmited="Template.BuilderComponents.SubmitedForgetPassword"/>
}
@code{

 [Parameter] public string Message { set; get; }


    // protected override void OnInitialized()
    // {



    //     responseMessage = Template


    // }

    // private LAHJA.Data.UI.Templates.Auth.TemplateAuth template = new LAHJA.Data.UI.Templates.Auth.TemplateAuth();



}