
<section class="pt-6 border-gray-100 md:col-span-8 lg:col-span-9 xl:col-span-9 md:px-4 py-4">
    <div class="mb-6">
        <div class="flex justify-between">
            <h3 class="flex flex-row items-center text-xl font-bold">
                SSH &amp; GPG Keys
            </h3>
        </div>
    </div>
    <div class="space-y-8">
        <div>
            <a href="settings/keys/addtype=ssh" class="btn-1 mb-4"><div>Add SSH Key</div></a>
            <div class="overview-card-wrapper max-w-lg p-3">No SSH key added to your account yet</div>
        </div>
        <div>
            <a href="settings/keys/addtype=pgp" class="btn-1 mb-4">
                <div>Add GPG Key</div></a>
            <div class="overview-card-wrapper max-w-lg p-3">No GPG key added to your account yet</div>
        </div>
    </div>
</section>
